<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" href="../css/styles.css">   
    <title>Test Your History</title>
</head>
    <h2>Hands</h2>
    <table id="dataTable">
        <thead>
            <tr>
                <th>Dealer Hand</th>
                <th>Player Card 1</th>
                <th>Player Card 2</th>
                <th>Action</th>
                <th>Check</th>
            </tr>
        </thead>
        <tbody>
            {{#each Hands}}
            <tr>
                <td>{{ this.dealerHand }}</td>
                <td>{{ this.playerCardA }}</td>
                <td>{{ this.playerCardB }}</td>
                <td id="actionCell_{{@index}}">
                <button onclick="performAction('{{this.dealerHand}}', '{{this.playerCardA}}','{{this.playerCardB}}', 'hit', {{@index}})">Hit</button>
                <button onclick="performAction('{{this.dealerHand}}', '{{this.playerCardA}}','{{this.playerCardB}}', 'split', {{@index}})">Split</button>
                <button onclick="performAction('{{this.dealerHand}}', '{{this.playerCardA}}','{{this.playerCardB}}', 'double', {{@index}})">Double</button>
                <button onclick="performAction('{{this.dealerHand}}', '{{this.playerCardA}}','{{this.playerCardB}}', 'stand', {{@index}})">Stand</button>
                </td>
                <td id = "checkCell_{{@index}}">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br></br>

      <script>
        let selectedAction = ``;

    function performAction(dealerHand, playerCardA, playerCardB, action, index) {
            const actionCell = document.getElementById(`actionCell_${index}`);
            const checkCell = document.getElementById(`checkCell_${index}`);
            actionCell.innerHTML = `Action: ${action}`;
            selectedAction = `${action}`;
            checkCell.innerHTML = `${checkAnswers(dealerHand, playerCardA, playerCardB, index)}`;
    }

    function checkAnswers(dealerHand, playerCardA, playerCardB, index) {
            const checkCell = document.getElementById(`checkCell_${index}`);
            let display = `Incorrect`;
            if(!selectedAction){
                checkCell.innerHTML = `${`Restart! Select action first`}`;
            }
            else{
            let correctAction = ``;
            let handTotal = calculateTotal(playerCardA, playerCardB);
            if(handTotal>19){
                correctAction = `stand`;
            }
            else if(playerCardA != 'A' && playerCardB !='A' && handTotal > 16){
                correctAction = 'stand';
            }
            else if(handTotal == 11 ){
                correctAction = `double`;
            }
            else if(playerCardA == playerCardB && playerCardA == 'A'){
                correctAction = `split`;
            }
            else if(handTotal == 10 && dealerHand < 10){
                correctAction = `double`;
            }
            else if(handTotal == 11){
                correctAction = `double`;
            }
            else if(handTotal == 9 && dealerHand < 7 && dealerHand > 2){
                correctAction = `double`;
            }
            else if(playerCardA == playerCardB && handTotal < 20){
                if(dealerHand == 5 || dealerHand == 6 || dealerHand == 4){
                    if(handTotal == 8 && dealerHand == 4){
                        correctAction = `hit`;
                    }
                    else{
                        correctAction = `split`;
                    }
                }
                else if(playerCardA == 4 && playerCardB == 4){
                    correctAction = `hit`;
                }
                else if(playerCardA == 6 && playerCardB == 6){
                    if(dealerHand > 1 && dealerHand < 7){
                        correctAction = `split`;
                    }
                    else{
                        correctAction = `hit`;
                    }
                }
                else if(playerCardA == 7 && playerCardB == 7){
                    if(dealerHand < 8){
                        correctAction = `split`;
                    }
                    else{
                        correctAction = `hit`;
                    }                
                }
                else if(playerCardA == 8 && playerCardB == 8){
                    correctAction = `split`;
                }
                else if(playerCardA == 9 && playerCardB == 9){
                    if(dealerHand != 8){
                        correctAction = `split`;
                    }
                    else{
                        correctAction = `stand`;
                    }
                }
                else if(playerCardA == 3 && playerCardB == 3){
                    if(dealerHand < 8){
                        correctAction = `split`;
                    }
                    else{
                        correctAction = `hit`;
                    }                
                }
                else if(playerCardA == 2 && playerCardB == 2){
                    if(dealerHand < 8){
                        correctAction = `split`;
                    }
                    else{
                        correctAction = `hit`;
                    }                
                }
            }

            else if(playerCardA == 'A' || playerCardB == 'A'){
                if(dealerHand == 6 || dealerHand == 5){
                    correctAction = 'double';
                }
                else if(dealerHand == 4 && handTotal <19 && handTotal > 14){
                    correctAction = 'double';
                }
                else if(dealerHand == 3 && handTotal <19 && handTotal > 15){
                    correctAction = 'double';
                }
                else if(handTotal == 18 && (dealerHand==2 || 8 || 7)){
                    correctAction = 'stand';
                }

                else if((handTotal== 12 || handTotal == 13) && (dealerHand == 2 || dealerHand == 3)){
                    correctAction = 'hit';
                }
                else{
                    correctAction = 'hit';
                }

            }

            else if(handTotal > 0 && handTotal < 10){
                correctAction = `hit`;
            }

            else if(handTotal < 10 && dealerHand < 7){
                correctAction = `hit`;
            }

            else if(dealerHand > 16){
                correctAction = `hit`;
            }

            if(selectedAction === correctAction){
                display = 'Correct!';
            }
                return display;
            }
    }

    function calculateTotal(cardA, cardB) {
    let total = 0;
    if (cardA == 'A') {
        total += 11;
    }
    else if (cardA == 'J' || cardA == 'Q' || cardA == 'K') {
        total += 10;
    } else {
        total += Number(cardA);
    }
    if (cardB == 'A') {
        if (total + 11 > 21) {
            total += 1;
        } else {
            total += 11;
        }
    } else if (cardB == 'J' || cardB == 'Q' || cardB == 'K') {
        total += 10;
    } else {
        total += Number(cardB);
    }
    return total;
}

  </script>
</body>