<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" href="../css/styles.css">   
    <title>Test Your History</title>
</head>
    <h2>Hands</h2>
    <table id="dataTable">
        <thead>
            <tr>
                <th>Dealer Hand</th>
                <th>Player Card 1</th>
                <th>Player Card 2</th>
                <th>Action</th>
                <th>Correct?</th>
            </tr>
        </thead>
        <tbody>
            {{#each Hands}}
            <tr>
                <td>{{ this.dealerHand }}</td>
                <td>{{ this.playerCardA }}</td>
                <td>{{ this.playerCardB }}</td>
                <td id="actionCell_{{@index}}">
                <button onclick="performAction('hit', {{@index}})">Hit</button>
                <button onclick="performAction('split', {{@index}})">Split</button>
                <button onclick="performAction('double', {{@index}})">Double</button>
                </td>
                <td id="correctCell_{{@index}}"></td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    <br></br>
    <button onclick="checkAnswers()">Check Answers</button>

      <script>
    const handsData = {{{HandsJson}}};

    function performAction(action, index) {
            const actionCell = document.getElementById(`actionCell_${index}`);
            actionCell.innerHTML = `Action: ${action}!`;
    }

  function checkAnswers() {
            const tableRows = document.querySelectorAll("#dataTable tbody tr");
            tableRows.forEach((row, index) => {
                const correctCell = document.getElementById(`correctCell_${index}`);
                
            const isCorrect = handsData[index].playerCardA === handsData[index].dealerHand;
                
                correctCell.textContent = isCorrect ? "Yes" : "No";
            });
        }

  </script>
</body>